* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-page .main-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 30px 20px;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.home-page .content-wrapper {
  display: flex;
  flex-direction: column;
  color: #1a2a4a;
  padding: 0px;
  margin: auto;
  border: none;
  width: 100%;
  max-width: 100%;
}

.f1 {
  border-bottom: 2px solid black;
}
.f1 .left button {
  padding: 10px 50px;
  border: 2.5px solid #1a2a4a;
  border-radius: 25px;
  background-color: #fff;
  color: #1a2a4a;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}

.f1 .left button:hover {
  background-color: #1a2a4a;
  color: #fff;
}

.home-page .content-wrapper .f1 {
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
}
.home-page .content-wrapper .left {
  flex-direction: column;
  padding: 20px;
}

.home-page .content-wrapper .left p {
  max-width: 600px;
  font-size: 20px;
  margin: 15px;
}
.home-page .content-wrapper .left img {
  max-width: 300px;
}

.home-page .content-wrapper .right img {
  max-width: 500px;
}

.f2 {
  border-bottom: 2px solid black;
}

.f2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f2 .ques {
  width: 100%;
  max-width: 900px;
}
.f2 h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}

.f2 p {
  color: #fff;
  font-size: 20px;
  font-weight: 450;
  background-color: #1a2a4a;
  margin: 20px;
  padding: 7px;
  border-radius: 25px;
  text-align: center;
}

.f3 {
  border-bottom: 2px solid black;
}

.f3 h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}

.f4 {
  border-bottom: 2px solid black;
}

.f4 h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}
